@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Noto+Sans:wght@400;500&family=Playfair+Display&family=Ubuntu:wght@300;400&family=Work+Sans:wght@300;400&display=swap");

/* .giftOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  background-color: rgba(191, 229, 253, 0.301);
  height: 100vh;
  width: 100vw;
  clip-path: circle(250px at 75% 60%);
} */

.giftSection {
  padding: 10rem 0;
  position: relative;
}

.gift {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 7.5rem 0;
  position: relative;
}

.gift img {
  height: 35rem;
  width: auto;
}
.gift img:nth-child(2) {
  height: 35rem;
  width: 35rem;
}

.giftText h1 {
  font-size: 38px;
  width: 500px;
  font-family: "Playfair Display", serif;
  color: var(--text-black);
  margin-bottom: 1rem;
  z-index: 2;
}

.giftText p {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5rem;
}

.giftText button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-family: "Ubuntu", sans-serif;
  font-size: 17px;
}

.title {
  color: var(--text-black);
  font-size: 55px;
  font-family: "Playfair Display", serif;
  text-align: center;
  z-index: 2;
}

/* ------Message section------ */
.message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10rem 0;
  padding-bottom: 20rem;
  position: relative;
  z-index: 2;
}

.message p {
  font-size: 19px;
  width: 900px;
  text-align: center;
  margin-top: 5rem;
  z-index: 2;
}

@media (max-width: 850px) {
  .gift {
    flex-direction: column;
  }
}
