.aboutText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 12.5rem;
  padding-bottom: 10rem;
}

.aboutText h1 {
  font-family: "Playfair Display", serif;
  font-size: 35px;
  margin-bottom: 2.5rem;
  color: var(--text-black);
}

.aboutText h2 {
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 22px;
}

.aboutItem {
  width: 60vw;
  margin-bottom: 6rem;
}

.aboutText p {
  font-family: "Lora", sans-serif;
  font-size: 19px;
  line-height: 1.3;
  color: var(--text-black);
  margin-top: 3rem;
}

@media (max-width: 800px) {
  .aboutItem {
    width: 90vw;
  }
}

@media (max-width: 750px) {
  .aboutText {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
  .aboutText p {
    font-size: 17px;
  }
}
