@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Playfair+Display&display=swap");
.header {
  padding-left: 10rem;
  background-color: #00486f;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.header h1 {
  font-family: "Playfair Display", serif;
  font-size: 55px;
  font-weight: 400;
  color: #fff;
  line-height: 1.25;
}

.header p {
  font-family: "Inter", sans-serif;
  font-size: 17px;
  font-weight: 300;
  color: #fff;
  margin-top: 3rem;
  width: 40vw;
  line-height: 1.4;
  margin-bottom: 5rem;
}

.svgContainer {
  width: 45vw;
  height: auto;
}

.headerSvg {
  height: 100%;
  width: 100%;
}

.exploreBtn {
  font-family: "Inter", sans-serif;
  background-color: transparent;
  border: 2px solid rgb(108, 99, 255);
  color: rgb(25, 25, 25);
  padding: 0.5rem 1.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.75s;
  transition: border-radius 0.25s;
}

@media (hover: hover) {
  .exploreBtn:hover {
    border-radius: 15px;
    background-color: rgba(107, 99, 255, 0.144);
  }
}

@media (max-width: 960px) {
  .header {
    padding-left: 5rem;
  }
}

@media (max-width: 630px) {
  .header {
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 2rem;
    padding-top: 10rem;
  }

  .header p {
    width: 90vw;
  }
  .svgContainer {
    width: 35rem;
    height: 35rem;
    margin: 0 auto;
  }

  .header h1 {
    font-size: 44px;
  }
}
