.header {
  padding-left: 10rem;
  background-color: var(--background);
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}

.header h1 {
  font-family: "Raleway", serif;
  font-size: 55px;
  font-weight: 400;
  color: var(--header_text);
  line-height: 1.25;
}

.headerText p {
  font-family: 'Open Sans', sans-serif;
  font-size: 19px;
  font-weight: 300;
  color: var(--paragraph);
  margin-top: 3rem;
  width: 40vw;
  line-height: 1.4;
  margin-bottom: 5rem;
}

.svgContainer {
  width: 45vw;
  height: auto;
}

.headerSvg {
  height: 100%;
  width: 100%;
}

.navButtons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 100%;
}

.navBtnSub {
  background-color: transparent;
  border: 1px solid #33272a;
  background-color: #c3f0ca;
  border-radius: 5px;
  padding: 15px 0;
  color: #33272a;
  font-size: 17px;
  letter-spacing: 1px;
  cursor: pointer;
  width: 100%;
  height: 100%;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  transition: all 0.15s ease-in;
  font-family: 'Open Sans', sans-serif;
}

.navBtn {
  font-family: 'Open Sans', sans-serif;
  background-color: #ff8ba7;
  border: 1px solid #33272a;
  border-radius: 5px;
  padding: 15px 0;
  color: #33272a;
  letter-spacing: 1px;
  font-size: 17px;
  cursor: pointer;
  width: 100%;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  transition: all 0.15s ease-in;
}

@media (hover: hover) {
  .exploreBtn:hover {
    border-radius: 15px;
    background-color: rgba(107, 99, 255, 0.144);
  }

  .navBtn:hover {
    border-radius: 15px;
  }

  .navBtnSub:hover { 
    border-radius: 15px;
  }
}

@media (max-width: 960px) {
  .header {
    padding-left: 5rem;
  }
}

@media (max-width: 630px) {
  .header {
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 10rem;
  }

  .header p {
    width: 100%;
  }
  .svgContainer {
    width: 35rem;
    height: 35rem;
    margin: 0 auto;
  }

  .header h1 {
    font-size: 44px;
  }
}

@media (max-width: 550px) {
  .navBtnSub {
    font-size: 13px;
    padding: 7.5px 0;
  }

  .navBtn {
    font-size: 13px;
    padding: 7.5px 0;
  }
}
