@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Marck+Script&family=Patrick+Hand&family=Shadows+Into+Light&display=swap");

.header {
  height: 100vh;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url(../../images/bears.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  color: rgb(227, 227, 227);
}

.headerThree {
  height: 100vh;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url(../../images/teddybear.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  color: rgb(227, 227, 227);
}

.headerFour {
  height: 100vh;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url(../../images/roses.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  color: rgb(227, 227, 227);
}

.headerText {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.headerText h1 {
  font-family: "Amatic SC", cursive;
  text-align: center;
  font-size: 8rem;
  white-space: nowrap;
}

.headerText p {
  font-family: "Patrick Hand", cursive;
  font-size: 3rem;
  text-align: center;
  margin-top: 5rem;
}

.btnContainer {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30rem;
}

@media (max-width: 650px) {
  .headerText h1 {
    font-size: 6rem;
  }
  .headerText h2 {
    font-size: 4.5rem;
  }

  .headerText p {
    font-size: 2.5rem;
  }
}

@media (max-width: 550px) {
  .btnContainer {
    bottom: 17.5%;
  }
}

@media (max-width: 475px) {
  .headerText h1 {
    font-size: 5rem;
  }
  .headerText h2 {
    font-size: 3rem;
  }

  .headerText p {
    font-size: 2rem;
  }
}

@media (max-width: 400px) {
  .headerText h1 {
    font-size: 4rem;
  }
  .headerText h2 {
    font-size: 2.5rem;
  }

  .headerText p {
    font-size: 1.75rem;
  }

  .btnContainer {
    width: 25rem;
  }
}
