.solidBtn {
  color: #fff;
  background-color: #858435;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-family: "Noto Sans", sans-serif;
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.25s;
  width: 100%;
}

.solidBtn:hover {
  transform: scale(1.025);
}

.solidBtn:active {
  transform: scale(0.975);
}

@media (max-width: 900px) {
  .solidBtn {
    font-size: 13px;
    padding: 7.5px 8.5px;
  }
}
