.solidBtn {
  color: #fff;
  background-color: #858435;
  padding: 10px 17px;
  border: none;
  border-radius: 5px;
  font-family: "Noto Sans", sans-serif;
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
}

@media (max-width: 900px) {
  .solidBtn {
    font-size: 13px;
    padding: 5px 8.5px;
  }
}
