.rsvp {
  background-color: rgba(203, 235, 255, 0.468);
  padding: 0 2.5rem;
  padding-top: 5rem;
}

.rsvpForm {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10rem 0;
  padding-top: 5rem;
}

.rsvpForm button {
  margin: 0 auto;
  margin-top: 3rem;
  font-size: 15px;
  font-family: "Noto Sans", sans-serif;
  padding: 1rem 3rem;
  border: 1px solid var(--text-black);
  color: var(--text-black);
  cursor: pointer;
  background-color: #fff;
}

.inputText {
  height: 4rem;
  width: 350px;
  margin-bottom: 3rem;
  border: 1px solid rgb(185, 185, 185);
  border-radius: 5px;
  box-shadow: 0 0 5px 1px rgba(185, 185, 185, 0.496);
  text-indent: 10px;
}

.contact ::placeholder {
  font-size: 17px;
  text-indent: 10px;
}

.contact select {
  width: 100px;
  height: 3rem;
}

.detail {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  width: 800px;
}

.rsvp textarea {
  margin-left: 5rem;
  width: 725px;
  margin: 0 auto;
  margin-top: 5rem;
  text-indent: 10px;
  border: 1px solid rgb(185, 185, 185);
  box-shadow: 0 0 5px 1px rgba(185, 185, 185, 0.496);
}

.rsvp textarea ::placeholder {
  margin-top: 2rem;
}

.rsvpTitle {
  color: var(--text-black);
  font-size: 55px;
  font-family: "Playfair Display", serif;
  text-align: center;
}

.subtitle {
  color: var(--text-black);
  font-size: 33px;
  font-family: "Noto Sans", sans-serif;
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}

.comboContainer {
  width: 500px;
  display: flex;
  justify-content: space-between;
}

.check {
  height: 2.5rem;
  width: 2.5rem;
}

.checkCombo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.checkbox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.checkTitle {
  font-size: 17px;
  margin-top: 0.75rem;
}

.honeypot {
  display: none;
}

@media (max-width: 850px) {
  .subtitle {
    font-size: 22px;
  }

  .detail {
    width: 100%;
  }
}

@media (max-width: 800px) {
  .inputText {
    width: 40vw;
  }

  .rsvp textarea {
    width: 85vw;
  }
}

@media (max-width: 650px) {
  .detail {
    flex-direction: column;
  }

  .inputText {
    width: 100%;
  }

  .rsvp textarea {
    width: 100%;
  }

  .checkbox {
    flex-direction: column;
    align-items: flex-start;
  }

  .comboContainer {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }

  .checkCombo {
    flex-direction: row;
    align-items: center;
  }

  .checkCombo:nth-child(1) {
    margin-bottom: 2rem;
  }

  .check {
    margin-right: 1.5rem;
  }

  .checkTitle {
    margin-top: 0rem;
  }
}
