.liveSection {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.liveContainer {
  width: 40rem;
  height: 30rem;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url(../../images/balloon.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  transition: all 0.5s;
  border-radius: 20px;
}

.liveContainer:hover {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0)
    ),
    url(../../images/balloon.jpg);
  scale: 1.05;
}

.liveContainer a {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 1.75rem 1.25rem;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  text-decoration: none;
  background-color: #fff;
  color: black;
  font-family: "Noto Sans", sans-serif;
  font-size: 13.3333px;
}

.mainContent {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10rem;
}

.liveContainerText {
  font-family: "Ubuntu", sans-serif;
}

.liveContainerText h2 {
  font-size: 35px;
  margin-bottom: 3rem;
}

.liveContainerText h4 {
  font-size: 17px;
  color: var(--text-black);
  width: 400px;
  margin-bottom: 5rem;
}

.liveContainerText h3 {
  margin-bottom: 1.5rem;
  font-size: 20px;
  color: var(--text-black);
}

@media (max-width: 875px) {
  .mainContent {
    flex-direction: column;
  }
  .liveContainer {
    margin-bottom: 5rem;
  }
}
