.templates {
  padding: 15rem 0;
}

.templateInfo {
  font-family: "Inter", sans-serif;
  font-size: 17px;
  margin: 0 auto;
  color: var(--text-black);
  width: 600px;
  text-align: center;
  margin-top: 3rem;
}

.templateContainer {
  display: grid;
  grid-template-columns: 1fr;
  height: fit-content;
  gap: 12rem;
  justify-content: center;
  margin: 0 auto;
  margin-top: 10rem;
}

@media (max-width: 1200px) {
  .templateContainer {
    width: 100%;
    padding: 0 2.5rem;
  }
}

@media (max-width: 775px) {
  .templateContainer {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    gap: 10rem;
  }
}

@media (max-width: 650px) {
  .templates {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
  .templateInfo {
    width: 100%;
  }
}
