/* ------Message section------ */
.message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
  margin-bottom: 15rem;
}

.message p {
  font-size: 19px;
  width: 900px;
  text-align: center;
  margin-top: 5rem;
  z-index: 2;
}

@media (max-width: 975px) {
  .message p {
    width: 100%;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

@media (max-width: 550px) {
  .message p {
    font-size: 17px;
  }
}
