.aboutText {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15rem;
  padding-bottom: 10rem;
}

.aboutText h1 {
  font-family: "Playfair Display", serif;
  font-size: 35px;
  margin-bottom: 2rem;
  color: var(--text-black);
}

.aboutText p {
  font-family: "Inter", sans-serif;
  font-size: 19px;
  width: 600px;
  line-height: 1.3;
  color: var(--text-black);
  margin-bottom: 4rem;
}

@media (max-width: 750px) {
  .aboutText {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .aboutText p {
    font-size: 17px;
    width: 100%;
  }
}
