.templates {
  padding: 15rem 0;
}

.templates p {
  font-family: "Inter", sans-serif;
  font-size: 17px;
  margin: 0 auto;
  color: var(--text-black);
  width: 600px;
  text-align: center;
  margin-top: 3rem;
}

.templateContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100rem;
  grid-gap: 8rem;
  justify-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 10rem;
}

.imageContainer {
  width: 40rem;
  height: 30rem;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url(../images/exampleA.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  transition: all 0.5s;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 3px rgba(91, 91, 91, 0.31);
}

.imageContainer:nth-child(2) {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url(../images/exampleB.jpg);
}

.imageContainer:nth-child(3) {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url(../images/exampleC.jpg);
}

.imageContainer:nth-child(4) {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url(../images/exampleD.jpg);
}
.imageContainer button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  border: none;
  background-color: #fff;
  font-family: "Noto Sans", sans-serif;
  color: black;
}

.imageContainer:hover {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0)
    ),
    url(../images/exampleA.jpg);
  scale: 1.05;
}

.imageContainer:nth-child(2):hover {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0)
    ),
    url(../images/exampleB.jpg);
}

.imageContainer:nth-child(3):hover {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0)
    ),
    url(../images/exampleC.jpg);
}

.imageContainer:nth-child(4):hover {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0)
    ),
    url(../images/exampleD.jpg);
}

@media (max-width: 1000px) {
  .templateContainer {
    width: 90rem;
  }
}

@media (max-width: 975px) {
  .templateContainer {
    column-gap: 3px;
    width: 100%;
  }
}

@media (max-width: 875px) {
  .templates {
    padding: 15rem 2.5rem;
    padding-bottom: 5rem;
  }
  .templateContainer {
    grid-template-columns: 1fr;
    width: fit-content;
  }
}

@media (max-width: 650px) {
  .templates p {
    width: 100%;
  }
}

@media (max-width: 475px) {
  .imageContainer {
    width: 100%;
  }

  .templateContainer {
    width: 100%;
  }
}
