.templates {
  padding: 15rem 0;
}

.templates p {
  font-family: "Inter", sans-serif;
  font-size: 17px;
  margin: 0 auto;
  color: var(--text-black);
  width: 600px;
  text-align: center;
  margin-top: 3rem;
}

.templateContainer {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10rem;
}

.imageContainer {
  width: 40rem;
  height: 30rem;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url(../images/exampleA.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  transition: all 0.5s;
  border-radius: 20px;
}

.imageContainer:nth-child(2) {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url(../images/exampleB.jpg);
}

.imageContainer button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  border: none;
  background-color: #fff;
  font-family: "Noto Sans", sans-serif;
}

.imageContainer:hover {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0)
    ),
    url(../images/exampleA.jpg);
  scale: 1.05;
}

.imageContainer:nth-child(2):hover {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0)
    ),
    url(../images/exampleB.jpg);
}

@media (max-width: 875px) {
  .templates {
    padding: 15rem 2.5rem;
    padding-bottom: 5rem;
  }
  .templateContainer {
    flex-direction: column;
    align-items: center;
  }

  .imageContainer:nth-child(1) {
    margin-bottom: 5rem;
  }
}

@media (max-width: 650px) {
  .templates p {
    width: 100%;
  }
}
