.alert {
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  gap: 75px;
}

.alertContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.alertContainerReverse {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.alert img {
  height: 40rem;
  width: auto;
}

.alertInfo {
  display: flex;
  flex-direction: column;
  width: 450px;
}

.alertInfo h1 {
  font-size: 30px;
  font-family: "Raleway", serif;
  font-weight: 600;
  color: var(--header_text);
  margin-bottom: 1rem;
}

.alertText {
  font-family: 'Open Sans', sans-serif;
  font-size: 19px;
  font-weight: 300;
  color: var(--paragraph);
  margin-bottom: 4rem;
}

@media (max-width: 1100px) {
  .alertText {
    width: 100%;
  }

  .alertContainer {
    flex-direction: column;
  }

  .alertContainerReverse {
    flex-direction: column;
  }
}

@media (max-width: 950px) {
  .alertInfo h1 {
    font-size: 32px;
  }
}

@media (max-width: 800px) {

  .alertInfo h1 {
    font-size: 25px;
  }
}

@media (max-width: 630px) {
  .alertInfo {
    width: 100%;
  }
}
