.alert {
  padding: 0 2.5rem;
}

.alertContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.alertContainer img {
  height: 45rem;
  width: 45rem;
}

.alertInfo {
  display: flex;
  flex-direction: column;
  width: 600px;
}

.alertInfo h1 {
  font-size: 38px;
  font-family: "Playfair Display", serif;
  font-weight: 600;
  margin-bottom: 30px;
  color: var(--text-black);
}

.alertInfo p {
  font-family: "Lora", sans-serif;
  font-size: 17px;
  color: var(--text-black);
  margin-bottom: 2rem;
}

@media (max-width: 1100px) {
  .alertInfo p {
    width: 100%;
  }

  .alertContainer img {
    height: 40rem;
    width: 40rem;
  }
}

@media (max-width: 950px) {
  .alertInfo h1 {
    font-size: 32px;
  }
}

@media (max-width: 800px) {
  .alertContainer img {
    height: 30rem;
    width: 30rem;
  }

  .alertInfo h1 {
    font-size: 25px;
  }
}

@media (max-width: 630px) {
  .alertInfo {
    width: 100%;
  }
  .alertInfo h1 {
    font-size: 25px;
  }
  .alertContainer {
    flex-direction: column;
  }

  .alertContainer img {
    height: 35rem;
    width: 35rem;
  }
}
