.alert {
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  gap: 75px;
}

.alertContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.alertContainerReverse {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

img {
  height: 45rem;
  width: 45rem;
}

.alertInfo {
  display: flex;
  flex-direction: column;
  width: 450px;
}

.alertInfo h1 {
  font-size: 30px;
  font-family: "Raleway", serif;
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--header_text);
}

.alertInfo p {
  font-family: 'Open Sans', sans-serif;
  font-size: 19px;
  font-weight: 300;
  color: var(--paragraph);
  margin-bottom: 2rem;
}

@media (max-width: 1100px) {
  .alertInfo p {
    width: 100%;
  }

  .alertContainer img {
    height: 40rem;
    width: 40rem;
  }
}

@media (max-width: 950px) {
  .alertInfo h1 {
    font-size: 32px;
  }
}

@media (max-width: 800px) {
  .alertContainer img {
    height: 30rem;
    width: 30rem;
  }

  .alertInfo h1 {
    font-size: 25px;
  }
}

@media (max-width: 630px) {
  .alertInfo {
    width: 100%;
  }
  .alertInfo h1 {
    font-size: 25px;
  }
  .alertContainer {
    flex-direction: column;
  }

  .alertContainer img {
    height: 35rem;
    width: 35rem;
  }
}
