.gender {
  position: relative;
  margin-bottom: 15rem;
}

.genderContent {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  padding-top: 7.5rem;
}

.genderContent img {
  height: 50rem;
  width: auto;
  z-index: 2;
}

.genderText {
  width: 500px;
  z-index: 2;
}

.genderText h1 {
  font-family: "Ubuntu", sans-serif;
  line-height: 1.3;
  margin-bottom: 3rem;
}
.genderText h2 {
  font-family: "Ubuntu", sans-serif;
  margin-bottom: 1rem;
}

.genderText p {
  font-family: "Inter", sans-serif;
  color: var(--text-black);
  font-size: 17px;
}

@media (max-width: 1050px) {
  .genderText {
    width: 40vw;
  }

  .genderContent img {
    height: 40rem;
    width: auto;
  }
}

@media (max-width: 750px) {
  .genderContent {
    flex-direction: column;
    align-items: center;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .genderText {
    width: 100%;
  }

  .genderContent img {
    height: 40rem;
    width: 35rem;
    margin-bottom: 3rem;
  }
}

@media (max-width: 600px) {
  .genderText h1 {
    font-size: 35px;
  }
}
