@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Noto+Sans:wght@400;500&family=Playfair+Display&family=Ubuntu:wght@300;400&family=Work+Sans:wght@300;400&display=swap");

.giftSection {
  position: relative;
  margin-bottom: 15rem;
}

.gift {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 7.5rem 0;
}

.gift:nth-child(4) {
  padding-bottom: 0rem;
}

.gift img {
  height: 35rem;
  width: auto;
}
.gift img:nth-child(2) {
  height: 35rem;
  width: 35rem;
}

.giftText h1 {
  font-size: 38px;
  width: 500px;
  font-family: "Playfair Display", serif;
  color: var(--text-black);
  margin-bottom: 3rem;
}

.giftText p {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2rem;
}

.giftText button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-family: "Ubuntu", sans-serif;
  font-size: 17px;
  color: var(--text-black);
}

@media (max-width: 1075px) {
  .gift img {
    height: 30rem;
    width: auto;
  }
}

@media (max-width: 950px) {
  .giftText {
    width: 40vw;
  }

  .giftText h1 {
    width: 100%;
    text-align: center;
  }
  .gift {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .giftText {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 850px) {
  .gift:nth-child(2) {
    padding-top: 2.5rem;
  }

  .giftSection {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .giftOverlay {
    clip-path: circle(150px at 75% 80%);
  }

  .gift {
    flex-direction: column;
  }

  .giftText {
    width: 100%;
  }
}

@media (max-width: 725px) {
  .giftText {
    width: 100%;
  }
}

@media (max-width: 675px) {
  .giftText h1 {
    font-size: 24px;
  }

  .giftText p {
    font-size: 17px;
  }
}

@media (max-width: 550px) {
  .gift {
    flex-direction: column;
    align-items: center;
  }
}
