/* -------- Testimonial --------- */
.testimonialSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.largeTestimonial {
  font-size: 38px;
  font-family: "Lora", sans-serif;
  color: var(--paragraph);
  text-align: center;
  width: 95rem;
}

.testimonialSection h4 {
  font-size: 17px;
  color: var(--header_text);
  font-family: "Inter", sans-serif;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.testimonialCard {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 30rem;
  padding: 3rem 3rem;
  box-shadow: 0 0 10px 0px #33272a50;
  border-radius: 10px;
  background-color: #f6efeb;
}

.testimonialCard p {
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  font-weight: 300;
  color: var(--paragraph);
  line-height: 1.4;
}

.testimonialCard img {
  height: 30px;
  width: auto;
  margin-bottom: 2rem;
}


.testimonialCard span {
  font-size: 19px;
  color: var(--header_text);
  font-family: "Inter", sans-serif;
  font-weight: bold;
}

.testimonialCardLine {
  height: 1px;
  width: 100%;
  background-color: var(--paragraph);
  margin: 25px 0;
}

.testimonialCardContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 10rem;
  gap: 40px;
}

.testimonialBtn {
  color: var(--button_text);
  background-color: var(--primary_color);
  letter-spacing: 1px;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.15s ease-in;
  border: 1px solid #33272a;
  width: 100%;
  box-shadow: 0 3px 10px 4px rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.testimonialBtn:active {
  transform: scale(0.975);
}

@media (hover: hover) {
  .testimonialBtn:hover {
    border-radius: 15px;
  }
}

@media (max-width: 900px) {
  .testimonialBtn {
    font-size: 13px;
    padding: 7.5px 8.5px;
  }
}

@media (max-width: 1000px) {
  .testimonialSection p {
    width: 90vw;
  }
}

@media (max-width: 630px) {
  .testimonialSection p {
    font-size: 20px;
  }
}
