/* -------- Testimonial --------- */
.testimonialSection {
  padding: 10rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonialSection p {
  font-size: 38px;
  font-family: "Lora", sans-serif;
  color: var(--paragraph);
  text-align: center;
  width: 95rem;
}

.testimonialSection h4 {
  font-size: 17px;
  color: var(--header_text);
  font-family: "Inter", sans-serif;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

@media (max-width: 1000px) {
  .testimonialSection p {
    width: 90vw;
  }
}

@media (max-width: 630px) {
  .testimonialSection p {
    font-size: 20px;
  }
}
