.section-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px 0;
}

.section-heading img {
  height: 50px;
  width: 50px;
  margin: 0 20px;
}

.linebreak {
  width: 25vw;
  height: 2px;
  border-bottom: 1px solid var(--text-black);
}

@media (max-width: 550px) {
  .section-heading {
    margin: 0px 0;
  }

  .linebreak {
    width: 30vw;
  }
}
