@import url("https://fonts.googleapis.com/css2?family=Inter&?family=Lora&family=Noto+Sans:wght@500&family=Playfair+Display&family=Ubuntu&display=swap");
body {
  margin: 0;
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
}

/* Break */

/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-purple: #4b145b;
  --clr-red-special: #b4345c;
  --clr-grey-special: #eae6eb;
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 920px;
  --text-black: #404040;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

@media screen and (min-width: 992px) {
  .section {
    width: 95vw;
  }
}

/*
=============== 
Questions
===============
*/

main {
  min-height: 100vh;
  /* using flex because of better browser support */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 90vw;
  margin: 5rem auto;
  background: var(--clr-white);
  border-radius: var(--radius);
  padding: 2.5rem 2rem;
  max-width: var(--fixed-width);
  display: grid;
  gap: 1rem 2rem;
}
.container h3 {
  line-height: 1.2;
  font-weight: 500;
  font-size: 3rem;
}
@media screen and (min-width: 992px) {
  .container {
    display: grid;
    grid-template-columns: 250px 1fr;
  }
}
.question {
  padding: 1rem 1.5rem;
  border: 2px solid var(--clr-grey-special);
  margin-bottom: 1rem;
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
}
.question h4 {
  text-transform: none;
  line-height: 1.5;
  font-size: 2rem;
  font-family: "Inter", sans-serif;
}
.question p {
  color: var(--clr-grey-3);
  margin-bottom: 0;
  margin-top: 0.5rem;
  font-size: 1.65rem;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}
.question header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.question header h4 {
  margin-bottom: 0;
}
.btn {
  background: transparent;
  border-color: transparent;
  width: 2rem;
  height: 2rem;
  background: var(--clr-grey-special);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--clr-red-special);
  cursor: pointer;
  margin-left: 1rem;
  align-self: center;
  min-width: 2rem;
}

/* ----------------- */
.infoSection {
  padding: 10rem 0;
  padding-top: 75px;
}
.infoTitle {
  font-size: 55px;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  text-align: center;
  color: var(--text-black);
  z-index: 2;
}

/* ------Call to action------- */
.call-to-action {
  padding: 10rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.call-to-action p {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  margin-bottom: 4.5rem;
  margin-top: 2rem;
  text-align: center;
}

.payment-icon {
  height: 6rem;
  width: 6rem;
}

@media (max-width: 630px) {
  .payment-icon {
    height: 4rem;
    width: 4rem;
  }

  .infoTitle {
    font-size: 44px;
  }

  .infoSection {
    padding: 10rem 0;
  }
}

@media (max-width: 475px) {
  .infoTitle {
    font-size: 33px;
  }

  .call-to-action {
    padding: 10rem 2.5rem;
  }

  .call-to-action p {
    width: 100%;
  }
}

.templateTitle {
  color: var(--text-black);
  font-size: 55px;
  font-family: "Playfair Display", serif;
  text-align: center;
  z-index: 2;
}

@media (max-width: 675px) {
  .templateTitle {
    font-size: 44px;
  }
}

@media (max-width: 475px) {
  .templateTitle {
    font-size: 33px;
  }
}

.rsvpBtn {
  font-family: "Patrick Hand", cursive;
  color: black;
  text-decoration: none;
  background-color: rgb(227, 227, 227);
  font-size: 2rem;
  padding: 1rem 2.5rem;
  border-radius: 10px;
}
