.mission {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 75px;
}

.mission img {
  height: 400px;
  width: 400px;
  margin-bottom: 50px;
}

.mission-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Lora", sans-serif;
}

.mission-text h1 {
  color: var(--text-black);
  margin-bottom: 20px;
  border-bottom: 1px solid var(--text-black);
  padding-bottom: 10px;
  font-size: 40px;
}

.mission-text p {
  font-size: 19px;
  text-align: center;
  width: 750px;
  margin-bottom: 50px;
}

@media (max-width: 850px) {
  .mission {
    padding-left: 25px;
    padding-right: 25px;
  }

  .mission-text p {
    width: 100%;
  }
}

@media (max-width: 550px) {
  .mission-text p {
    font-size: 16px;
  }

  .mission img {
    height: 300px;
    width: 300px;
  }
}

@media (max-width: 400px) {
  .mission img {
    height: 200px;
    width: 200px;
  }

  .mission-text h1 {
    font-size: 30px;
  }
}
